@import '../../assets/partials/partials.scss';

.pokedex{
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: $blue;
    opacity: 0.8;

    &__container{
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__inner{
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__info{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__image{
        height: 300px;
    }

    &__name{
        text-transform: capitalize;
    }

    &__stats{
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // &__stat{
    //     border: 2px solid black;
    //     width: 50%;
    //     height: 100px;
    //     text-align: center;
    //     display: flex;
    //     align-items: center;
    // }
}