@import '../../assets/partials/partials.scss';

.pokehome{
    font-family: $font-reg;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/images/pokeballback.jpg);
    background-size: cover;
    @include wrapper;
}